body {
  background-color: #DDE6ED !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    #27374D 0%,
    #526D82 69%,
    #9DB2BF 89%
  ) !important;
}

/* TODO: Might be moved somewhere else later on */
.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.react-datepicker-wrapper {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

/* Home page styles */

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    #27374D 0%,
    #526D82 69%,
    #9DB2BF 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* End home page styles */
